.romantic-page {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-section,
.gallery-section,
.testimonial-section {
  margin-bottom: 40px;
}

.footer {
  text-align: center;
  margin-top: 40px;
}

.header h1 {
  font-size: 36px;
  color: #e91e63;
}

.about-section p {
  font-size: 18px;
  line-height: 1.5;
}

.gallery-section,
.testimonial-section {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.gallery-section h2,
.testimonial-section h2 {
  color: #e91e63;
}

.footer p {
  font-size: 14px;
  color: #999;
}

.bg-body-tertiary {
  background-color: #fff; /* Fundo branco */
}

.navbar {
  border-bottom: 1px solid #e91e63; /* Linha de separação rosa */
}

.nav-link {
  font-size: 18px;
  color: #333;
}

.a.nav-link:hover,
.a.nav-link:focus {
  color: #e91e63;/* Cor rosa ao passar o mouse ou focar */
}